/* card set */

.cards {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  margin: -15px;
  padding: 0;
  list-style: none;
}

.cards__item {
  padding: 15px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 4);
  }
}

.cards__item--second {
}

.cards__item--third {
}

.cards__item--fourth {
}
