<div class="section">
  <div class="container about">
    <div class="image-wrapper">
      <div class="about-gallery">
        <img
          src="https://hannibalbs.ru/media/k2/items/cache/e0a70f72bdae9885bfc32d7cd19a26a1_L.jpg"
          alt=""
          class="img"
        />
      </div>
      <div class="about-gallery">
        <img
          src="https://hannibalbs.ru/media/k2/items/cache/e0a70f72bdae9885bfc32d7cd19a26a1_L.jpg"
          alt=""
          class="img"
        />
      </div>
    </div>
    <div class="about-block">
      <p class="description about">О НАС</p>
      <h2 class="section-title about">Лучший Барбершоп твоего города</h2>
      <p class="about-desc">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="about-text">
        Мы команда, которая никогда не останавливается н а достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <div class="button">онлайн-запись</div>
    </div>
  </div>
</div>
