<section class="section">
  <div class="container">
    <ul class="container-list">
      <li class="container-item">
        <img class="container-img" src="../images/about-us/about-us-desktop1@1x.jpg" alt="">
      </li>
      <li class="container-item">
        <img class="container-img" src="../images/about-us/about-us-desktop2@1x.jpg" alt="">
      </li>
      <li class="container-item text">
        <p class="description">О НАС</p>
        <h2 class="section-title">Лучший Барбершоп твоего города</h2>
        <p class="container-desc">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.</p>
        <p class="container-text">Мы команда, которая никогда не останавливается н а достигнутом и жаждет перемен. И
          когда ты
          попадешь
          в руки
          нашего
          мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на
          одной
          волне".
          Поэтому,
          мы
          всегда готовы усовершенствовать каждого, кто к нам приходит!
        </p>
        <button class="button"> онлайн-запись</button>
      </li>
    </ul>
  </div>
</section>