<section class="section">
    <div class="container feature">
        <div>
            <span class="description">старая традиционная школа</span>
            <h2 class="section-title">Почему приходят именно к нам?</h2>
            <p>О нас говорят только хорошее. Но лучше
                1 раз увидеть и прочувствовать, чем 10 раз прочитать.</p>
        </div>
        <div>
            <ul class="feature-list">
                <li class="feature-item">
                    <span class="feature-number">600</span>
                    <p class="feature-words">Довольных клиентов в день</p>
                </li>
                <li class="feature-item">
                    <span class="feature-number">50</span>
                    <p class="feature-words">Наград за отличный сервис</p>
                </li>
                <li class="feature-item">
                    <span class="feature-number">20</span>
                    <p class="feature-words">Лучших мастеров Киева</p>
                </li>
                <li class="feature-item">
                    <span class="feature-number">100</span>
                    <p class="feature-words">Подарков постоянным клиентам</p>
                </li>
            </ul>
        </div>
    </div>
</section>