.hero-aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 155px;

  background-color: #ffffff;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 90px;
    padding: 120px 76px 123px 67px;
    
  }

  @media screen and (min-width: $desktop) {
    padding: 120px 37px 123px 67px;
  }
}
