/* card set */

.cards {
	@media screen and (min-width: $mobile) {
	}
	@media screen and (min-width: $tablet) {
		align-items: center;
		justify-content: center;
	}
	@media screen and (min-width: $desktop) {
		display: flex;
	}
}
.cards__item {
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 502px;
}
.cards__item:not(:last-child) {
	@media screen and (min-width: $mobile) {
		margin-bottom: 64px;
	}
	@media screen and (min-width: $tablet) {
		margin-bottom: 64px;
	}
	@media screen and (min-width: $desktop) {
		margin-right: 30px;
		margin-bottom: 0px;
	}
}
