.title-hero {
}

.section-discription--gray {
  color: rgba(157, 164, 189, 0.6);
}

// Текст на секции героя, первій текст О нас, преимущества,
.text-main {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.text-secondary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
