.masters-list {
  display: flex;
}

.masters-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.master-name {
  margin-top: 0px;
  margin-bottom: 8px;
}

.master-specialist {
  margin-top: 0px;
  margin-bottom: 30px;
}
